# Machine learning
torch~=2.0
lightning~=2.0
torchmetrics~=1.2
openml~=0.14  # For loading standard datasets, could be removed if you use your own data
# Plots
matplotlib~=3.8
seaborn~=0.12
# Data manipulation
numpy~=1.26
pandas~=2.1
# Loggers
mlflow~=2.7
wandb~=0.15
loguru~=0.7
# Misc
jsonargparse[signatures]~=4.25
pyyaml~=6.0
ruyaml~=0.91
tabulate~=0.9
rich~=13.5
