# Machine learning
torch~=2.0
lightning~=2.0
torchmetrics~=0.11
openml~=0.13  # For loading standard datasets, could be removed if you use your own data
# Plots
matplotlib~=3.7
seaborn~=0.12
# Data manipulation
numpy~=1.25
pandas~=2.0
# Loggers (remove the one not used)
mlflow~=2.4
wandb~=0.15
# Misc
jsonargparse[signatures]~=4.21
pyyaml~=6.0
